# Ambiente virtual
.venv/
venv/
env/

# Cache Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

# Dados processados pesados (regerados pelo pipeline)
data/processed/*.parquet
